
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:#2e219a;
    height: 120px;
    width: 1250px;
    margin: auto;
    text-align: center;
  
}
.container img{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    width: 100px;
    padding-top: 30px;
    
}
.img0{
   padding-left: 30px;
}
/* <!-- -------------header section End-----------> */
.menu{
    background-color: red;
    padding: 10px;
   
}
.menu li{
        color: white;
        display: inline-block;
        padding: 20px;
      
        border-right: 1px solid white;
}
/* -------------------menu section end------------- */

.Welcome {
    background-image: url(https://i.postimg.cc/NfQ6XNy6/hero-1.jpg);
   
    background-position: center;
    padding: 200px 0px;
    
  
}
.Welcome h1{
    color: white;

}
.Welcome p{
    color: white;
    padding-left: 30px;
}
.Welcome a{
    color: white;
    text-decoration: none;
    background-color: green;
   padding: 10px;
}
/* -----------welcome section end----------- */


.Theme{
    background-image: url(https://i.postimg.cc/hj3J6rDY/hero-2.jpg);
    background-position: center;
    padding: 200px 0px;
    height: 100px;
  
}
.Theme h1{
    color: white;
    background-color: green;
}
.Theme p{
    color: black;
    display: inline-block;
    background-color:#ffff00;
    padding: 5px 6px;

}
.Theme a{
        color: white;
        padding: 10px 10px;
        background: black;
        text-decoration: none;
}
/* -------------------THeme senction end------------- */

.Our_team{
    background-color: #4ab75c;
    height: 400px;
    padding: 200px 0px;
   
    
    
}
h3{
    font-size: 40px;
}
.img{
    text-align: left;
   margin-right: 120px;
   margin-left: 260px;
 
}
.img h4{
    padding-left: 240px;
    margin-top: -100px;
    padding-right: 30px;
}
p{
    padding-left: 240px;
   
}

.div5{
    margin-right: 510px;
    padding-top: 140px;
    
}
h4{
    margin-right: 85px;
}
.p1{
    margin-right: 85px;
}
.img2 img{
    margin-left: 130px;
    margin-bottom: -220px;
   
}

/* -----Our Team section end-------- */

.footermenu{
    background-color: #2c1a8e;
    color: white;
    padding: 20px;
    
   
}
.footermenu ul li a{
    color: white;
    text-decoration: none;
   
   
    
   
}
.footermenu ul li{
  
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    width: 80px;
   
}
/*<!---------------End Project--------------->*/
